%br
= simple_form_for :issue, :url => "/issues", :method => :post, defaults: {required: false} do |f|
	= f.input :name
	= f.input :tracker, collection: IssueTracker.get_trackers, include_blank: false
	= f.input :description, as: :text
	.form-buttons
		= f.submit 'Применить', class:'small button secondary', id:'submitfilter'