-if can? :read, :issues_write
	= render partial: 'form'
%p
	%span.subheader=t('titles.table.title')
%table
	%tr
		%td
			=t('titles.table.name')
		%td
			=t('titles.table.status')
		%td
			=t('titles.table.date')
	- for issue in @issues
		%tr
			%td
				= link_to issue.name, "/issues/#{issue.id}"
			%td
				= issue.status.name
			%td
				= issue.created_on